@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import '@vidstack/react/player/styles/base.css';

body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
